{{ define "main" }}
  {{ if .Title }}<h1 class="page-title">{{ .Title }}</h1>{{ end }}

  <ul class="post-list">
    {{ range .Paginator.Pages }}
      {{ $page := . }}
      <li class="post-entry{{ if not $page.Title }} short{{ end }}">
        {{ if $page.Title }}
          <h2 class="post-entry-title">
            <a href="{{ $page.Permalink }}">{{ $page.Title }}</a>
          </h2>
        {{ end }}
        <div class="post-entry-meta">
          {{ if $page.Title }}
            <time datetime="{{ $page.Date.Format "2006-01-02" }}">{{ $page.Date.Format "January 2, 2006" }}</time>
          {{ else }}
            <a href="{{ $page.Permalink }}"><time datetime="{{ $page.Date.Format "2006-01-02" }}">{{ $page.Date.Format "January 2, 2006" }}</time></a>
          {{ end }}
        </div>
        {{ with $page.Summary }}
          <p class="post-entry-summary">{{ . | safeHTML }}</p>
        {{ end }}
      </li>
    {{ end }}
  </ul>

  {{ template "_internal/pagination.html" . }}
{{ end }}
