<footer class="site-footer">
  <div class="wrapper">
    <span>
      &copy; {{ now.Year }} <a rel="author" href="{{ "/humans.txt" | relURL }}">{{ .Site.Params.author.name | default .Site.Title }}</a>
      &nbsp;&middot;&nbsp;
      <a href="{{ "/" | relURL }}feed.xml">RSS</a>
      &nbsp;&middot;&nbsp;
      <a href="https://micro.blog/{{ .Site.Params.author.username }}">Micro.blog</a>
      &nbsp;&middot;&nbsp;
      <a href="https://github.com/jleberle/micro-Codex">Theme</a>
      &nbsp;&middot;&nbsp;
      <a href="https://codeberg.org/jleberle">Codeberg</a>
    </span>
  </div>
</footer>
