<header class="site-header h-card">
  <div class="wrapper">
    <a class="site-title u-url" href="{{ "/" | absURL }}" rel="home">
      {{ if and (ne .Kind "home") (ne .RelPermalink "/") }}
        {{ with .Site.Params.author.avatar }}<img src="{{ . }}" alt="{{ $.Site.Title }} avatar" class="u-photo" width="35" height="35" loading="lazy">{{ end }}
      {{ end }}
      <span class="p-name">{{ .Site.Title }}</span>
    </a>
    <nav class="site-nav" aria-label="Main navigation">
      {{ range .Site.Menus.main }}
        {{ if .Page.Params.redirect_url }}
          <a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a>
        {{ else }}
          <a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a>
        {{ end }}
      {{ end }}
    </nav>
  </div>
</header>
