<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{- $hasImage := false -}}
  {{- if .IsHome -}}
    {{- $hasImage = true -}}
  {{- else if .Params.photos -}}
    {{- $hasImage = true -}}
  {{- else if .Params.opengraph.image -}}
    {{- $hasImage = true -}}
  {{- end -}}

  <meta name="twitter:card" content="{{ if $hasImage }}summary_large_image{{ else }}summary{{ end }}">

  {{- if .IsHome -}}
    <meta name="twitter:title" content="{{ .Site.Title }}">
    <meta property="og:title" content="{{ .Site.Title }}">
    <meta name="twitter:description" content="{{ .Site.Params.about_me | truncate 125 }}">
    <meta property="og:description" content="{{ .Site.Params.about_me | truncate 160 }}">
    <meta name="description" content="{{ .Site.Params.about_me }}">
    <meta name="twitter:image" content="{{ .Site.Params.author.avatar }}">
    <meta property="og:image" content="{{ .Site.Params.author.avatar }}">
  {{- else -}}
    {{- with .Title -}}
      <meta name="twitter:title" content="{{ . }}">
      <meta property="og:title" content="{{ . }}">
    {{- else -}}
      <meta name="twitter:title" content="{{ $.Site.Title }}">
      <meta property="og:title" content="{{ $.Site.Title }}">
    {{- end -}}
    <meta name="twitter:description" content="{{ .Summary | plainify | truncate 125 }}">
    <meta property="og:description" content="{{ .Summary | plainify | truncate 160 }}">
    <meta name="description" content="{{ .Summary | plainify }}">
    {{- if .Params.photos -}}
      {{- range .Params.photos -}}
        <meta name="twitter:image" content="{{ . }}">
        <meta property="og:image" content="{{ . }}">
      {{- end -}}
    {{- else if .Params.opengraph.image -}}
      <meta name="twitter:image" content="{{ .Params.opengraph.image }}">
      <meta property="og:image" content="{{ .Params.opengraph.image }}">
    {{- else -}}
      <meta name="twitter:image" content="{{ .Site.Params.author.avatar }}">
      <meta property="og:image" content="{{ .Site.Params.author.avatar }}">
    {{- end -}}
  {{- end -}}

  <meta name="author" content="{{ .Site.Params.author.name | default .Site.Title }}">
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else if .Title }}{{ .Title }} | {{ .Site.Title }}{{ else }}{{ .Site.Title }}{{ end }}</title>

  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:locale" content="{{ .Site.Params.languageCode | default "en_US" | replace "-" "_" }}">

  {{- if .IsPage }}
  <meta property="og:article:published_time" content="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">
  <meta property="og:article:modified_time" content="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
  <meta property="og:article:author" content="{{ .Site.Params.author.name | default .Site.Title }}">
  {{- end }}

  <link rel="canonical" href="{{ .Permalink | absURL }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?{{ .Site.Params.theme_seconds }}">

  {{- with .Site.Params.author.activitypub.username }}
  <meta name="fediverse:creator" content="{{ . }}">
  {{- end }}

  {{ partial "microblog_head.html" . }}
</head>
