{{ $bio := .Site.Params.bio | default .Site.Params.itunes_description | default .Content }}
{{ if $bio }}
<div class="intro">
  <img class="intro-avatar" src="https://micro.blog/{{ .Site.Params.author.username }}/avatar.jpg" alt="{{ .Site.Params.author.name | default .Site.Title }}" width="80" height="80">
  <div class="intro-body">
    <p class="intro-bio">{{ $bio | safeHTML }}</p>
    <nav class="intro-social" aria-label="Social links">
      <a href="https://jaredeberle.org">Website</a>
      <a href="https://bsky.app/profile/jaredeberle.org">Bluesky</a>
      <a href="https://letterboxd.com/eberle/">Letterboxd</a>
      <a href="https://www.librarything.com/profile/jaredeberle">LibraryThing</a>
      <a href="https://www.discogs.com/user/IrateBeagle">Discogs</a>
    </nav>
  </div>
</div>
{{ end }}
