{{ define "main" }}
  <h1 class="page-title">Archive</h1>

  {{ $posts := where .Site.Pages.ByDate.Reverse "Type" "post" }}
  {{ range ($posts.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
    <ul class="archive-list">
      {{ range .Pages }}
        {{ $p := . }}
        <li class="archive-entry">
          <a href="{{ $p.Permalink }}">{{ $p.Title | default ($p.Date.Format "Jan 2") }}</a>
          <span class="archive-date">{{ $p.Date.Format "Jan 2" }}</span>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
