{{ define "main" }}
  <h1 class="page-title">Archive</h1>

  {{ $posts := where .Site.Pages.ByDate.Reverse "Type" "post" }}
  {{ range ($posts.GroupByDate "2006") }}
    <h2>{{ .Key }}</h2>
    <ul class="archive-list">
      {{ range .Pages }}
        {{ $p := . }}
        <li class="archive-entry{{ if not $p.Title }} archive-entry--short{{ end }}">
          <span class="archive-date">{{ $p.Date.Format "Jan 2" }}</span>
          {{ if $p.Title }}
            <a class="archive-entry-title" href="{{ $p.Permalink }}">{{ $p.Title }}</a>
          {{ else }}
            <div class="archive-entry-content">
              <a class="archive-entry-permalink" href="{{ $p.Permalink }}">{{ $p.Content | safeHTML }}</a>
            </div>
          {{ end }}
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}
